
<!-- We don't need full layout here, because this page will be parsed with Ajax-->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
    <div class="center sliding">Kategori</div>
    <div class="right">

      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="kategori" class="page">
      <!-- POPUP TAMBAH DATA -->
      <a href="tambah-kategori.html" class="floating-button color-blue" >
        <i class="ion ion-plus"></i>
      </a>
      <!-- END POPUP TAMBAH DATA -->
      <!-- Search bar -->
      <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
          <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">Cancel</a>
      </form>


      <!-- Search bar overlay -->
      <div class="searchbar-overlay"></div>
      <!-- Scrollable page content-->
      <div class="page-content"> 
        <div class="content-block searchbar-not-found">
        Nothing found
        </div>

        <div class="list-block list-block-search searchbar-found media-list">
          <ul>{{#each this}}

            {{#js_compare "this.role === '1' && this.role_sebelum === 9"}}<li class="item-divider">Pemasukan</li>{{/js_compare}}
            {{#js_compare "this.role === '2' && this.role_sebelum === '1'"}}<li class="item-divider">Pengeluaran</li>{{/js_compare}}  
            <li class="swipeout">
              <div class="swipeout-content item-content">
                <div class="item-media"> <span class="kategori-box-icon" style="background-color: {{warna}} !important">
                  {{js "this.nama_kategori.charAt(0)"}}
                </span></div>
                <div class="item-inner"> 
                  <div class="item-title-row">
                    <div class="item-title">{{nama_kategori}}</div> 
                    <div class="item-after" style="color: black;">{{relevansi}}</div>
                  </div>
                  <div class="item-subtitle"> 
                    {{#js_compare "this.role === '1'"}}Pemasukan{{/js_compare}} 
                    {{#js_compare "this.role === '2'"}}Pengeluaran{{/js_compare}} 
                  </div>
                </div> 
              </div>
              <div class="swipeout-actions-right">
                <a href="ubah-kategori.html"  class="edit bg-blue" data-index="{{id_kategori}}" data-relevansi="{{id_relevansi}}">Ubah</a>
                <a href="#" class="delete swipeout-delete" data-confirm="Apakah anda yakin ingin menghapus kategori <strong>{{nama_kategori}}</strong> ?" data-confirm-title="Delete" data-close-on-cancel="true" data-index={{id_kategori}}>Hapus</a>
              </div> 
            </li>{{/each}}
          </ul>
        </div>
      </div>
    </div>
</div> 
