<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!-- We have home navbar without left link-->
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Tambah Pengeluaran</div>
    <div class="right">
      <a href="#" data-popover=".popover-links" class="link open-popover">
        <span id="nama-user">Admin</span>
        <i class="ion ion-ios-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <!-- End Top Navbar-->
  <div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="tambah-pengeluaran" class="page"> 
     <div class="content-block-title" style="margin-top: 15px;">
      <i class="f7-icons color-gray" style="padding-right:5px">keyboard_fill</i>
      Tambah Pengeluaran</div>
      <div class="list-block">
        <ul>      
         <li class="item-divider">
           <i class="f7-icons color-blue" style="padding-right:5px">calendar_fill</i>
           Tanggal
         </li>            
         <li>
          <div class="item-content"> 
            <div class="item-inner"> 
              <div class="item-input">
                <input readonly id="tambah-pengeluaran-tanggal" type="text" placeholder="Tanggal Transaksi">
              </div>
            </div>
          </div>
        </li>  
        <li class="item-divider">
          <i class="f7-icons color-blue" style="padding-right:5px">tags_fill</i>
          Kategori
        </li>
        <li>
          <div class="item-content"> 
            <div class="item-inner"> 
              <div class="item-input">
                <select id="tambah-pengeluaran-kategori">
                 <option value="">-Pilih Kategori-</option>
                 {{#each this}}
                 <option value="{{id_kategori}}">{{nama_kategori}}</option>
                 {{/each}}
               </select>
             </div>
           </div>
         </div>
       </li>
       <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">money_dollar_fill</i>
        Jumlah
      </li>
      <li>
        <div class="item-content"> 
          <div class="item-inner"> 
            <div class="item-input">
              <input id="tambah-pengeluaran-jumlah" type="number" placeholder="Jumlah">
            </div>
          </div>
        </div>
      </li> 
      <li class="item-divider">
        <i class="f7-icons color-blue" style="padding-right:5px">compose_fill</i>
        Keterangan
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"></div>
          <div class="item-inner"> 
            <div class="item-input">
              <textarea id="tambah-pengeluaran-keterangan" placeholder="Keterangan"></textarea>
            </div>
          </div>
        </div>
      </li>
      <li class="item-divider"></li>
    </ul>
  </div> 
  <div class="content-block">
    <div class="row">
      <div class="col-100">
        <input id="tambah-pengeluaran" type="submit" value="Tambah" class="button button-big button-fill" disabled>
      </div>
    </div>
  </div> 
</div>
</div> 
